<!DOCTYPE html>
<html>
  <head>
    <title>Unifa App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless current_page?(login_path) %>
      <%= render 'shared/header' %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
